// ** Colors **

$white: #fff;
$black: #000;

$mineShaft: #333333;

$QS_red: #D42F7B;
$QS_pink: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #EC008C;
$QS_pink_1: #EC008C;
$QS_blue: #004EA2;
$QS_blue_1: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #004EA2;
$gray: #333;
$gray_2: #B4B4B4;
$light_gray: #F4F4F4;
$light_blue: #1960AC;
$dark_blue: #004793;

// size

$container-width: 1140px;


// default

ul {
  list-style: none;
}

select, button {
  outline: none;
  border: none;
}

button:hover {
  border: none;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  //color: initial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
}

.rub {
  font-family: 'PT Sans', serif;
}
