ul {
  list-style: none; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  font-style: normal; }

.header-top__wrapper .header-top {
  height: 58px;
  max-width: 80%;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center; }
  .header-top__wrapper .header-top .header-top__title h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #004EA2; }
  .header-top__wrapper .header-top .header-top__location {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .header-top__wrapper .header-top .header-top__location .header-top__location-link {
      position: relative;
      font-size: 12px;
      line-height: 14px;
      color: #B4B4B4;
      margin-bottom: 3px; }
      .header-top__wrapper .header-top .header-top__location .header-top__location-link a {
        color: #B4B4B4;
        text-decoration: underline; }
      .header-top__wrapper .header-top .header-top__location .header-top__location-link::before {
        position: absolute;
        content: "";
        background: url("img/direction.svg") no-repeat;
        width: 15px;
        height: 15px;
        left: -15px;
        top: -3px; }
    .header-top__wrapper .header-top .header-top__location .header-top__location-stores {
      position: relative;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold; }
      .header-top__wrapper .header-top .header-top__location .header-top__location-stores a {
        color: #EC008C; }
      .header-top__wrapper .header-top .header-top__location .header-top__location-stores::before {
        position: absolute;
        content: "";
        background: url("img/location.svg") no-repeat;
        width: 8px;
        height: 13px;
        left: -12px;
        top: 1px; }
  .header-top__wrapper .header-top .header-top__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .header-top__wrapper .header-top .header-top__contacts .header-top__contacts__link {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #004EA2;
      margin-bottom: 3px; }
    .header-top__wrapper .header-top .header-top__contacts .header-top__contacts__feedback {
      color: #B4B4B4;
      text-decoration: underline;
      font-size: 12px;
      line-height: 14px; }
  .header-top__wrapper .header-top .header-top__cart {
    position: relative; }
    .header-top__wrapper .header-top .header-top__cart a {
      color: #004EA2;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px; }
    .header-top__wrapper .header-top .header-top__cart .cart-count {
      position: absolute;
      top: -2px;
      left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13px;
      height: 13px;
      border-radius: 6.5px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #EC008C;
      font-size: 10px;
      color: #fff; }

.header-navbar__wrapper {
  background: #004EA2; }
  .header-navbar__wrapper .header-navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .header-navbar__wrapper .header-navbar .header-navbar__logo {
      width: 180px;
      height: 1px;
      position: relative; }
      .header-navbar__wrapper .header-navbar .header-navbar__logo img {
        position: absolute;
        border: 4px solid white;
        top: -62px;
        background: #004EA2; }
    .header-navbar__wrapper .header-navbar .header-nav {
      height: inherit; }
      .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu {
        display: flex;
        height: inherit; }
        .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .has-children > .sub-menu {
          display: none;
          position: absolute;
          top: 60px;
          left: 0;
          width: 82%;
          z-index: 25;
          background: #fff;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-top: 8px solid #1960AC;
          padding: 25px;
          justify-content: space-between; }
          .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .has-children > .sub-menu > li .sub-menu .sub-menu__title {
            color: #333;
            padding: 0;
            font-size: 18px;
            line-height: 21px; }
          .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .has-children > .sub-menu > li .sub-menu .sub-menu > li > a {
            color: #004EA2;
            font-size: 14px;
            line-height: 16px; }
        .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .has-children:hover > a::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 30%;
          transform: translateX(30%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
          z-index: 26; }
        .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .header-nav__basic-menu__item:hover > .sub-menu {
          display: flex; }
        .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .header-nav__basic-menu__item:hover > a {
          background: #1960AC;
          position: relative; }
          .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .header-nav__basic-menu__item:hover > a .dropdown-toggle > img {
            transform: rotate(180deg); }
        .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .header-nav__basic-menu__item a {
          color: #fff;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 13px; }
          .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .header-nav__basic-menu__item a span {
            margin-left: 5px; }
            .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .header-nav__basic-menu__item a span > img {
              transition: all 0.2s linear; }
        @media (max-width: 1200px) {
          .header-navbar__wrapper .header-navbar .header-nav .header-nav__basic-menu .header-nav__basic-menu__item a {
            padding: 0 5px; } }
    .header-navbar__wrapper .header-navbar .header-navbar__search {
      position: relative; }
      .header-navbar__wrapper .header-navbar .header-navbar__search input {
        height: 24px;
        padding: 5px 23px 5px 10px;
        border: none;
        border-radius: 5px;
        outline: none; }
        .header-navbar__wrapper .header-navbar .header-navbar__search input::placeholder {
          font-style: italic;
          color: #B4B4B4;
          font-size: 12px;
          line-height: 14px; }
        @media (max-width: 1200px) {
          .header-navbar__wrapper .header-navbar .header-navbar__search input {
            width: 100px; } }
      .header-navbar__wrapper .header-navbar .header-navbar__search .header-navbar__search-icon {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%); }
    .header-navbar__wrapper .header-navbar .header-navbar__account {
      max-width: 107px; }
      .header-navbar__wrapper .header-navbar .header-navbar__account a {
        display: flex; }
      .header-navbar__wrapper .header-navbar .header-navbar__account .header-navbar__account-text-block {
        color: #fff;
        font-size: 10px;
        line-height: 11px;
        display: flex;
        align-items: center;
        text-align: right;
        margin-right: 5px; }

.header-bottom__wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #EC008C; }
  .header-bottom__wrapper .header-bottom .header-bottom__menu {
    display: flex;
    justify-content: flex-end;
    padding: 13.5px 0; }
    .header-bottom__wrapper .header-bottom .header-bottom__menu .header-bottom__menu-item {
      margin-right: 10px; }
      .header-bottom__wrapper .header-bottom .header-bottom__menu .header-bottom__menu-item:last-child {
        margin-right: 0; }
      .header-bottom__wrapper .header-bottom .header-bottom__menu .header-bottom__menu-item a {
        color: #fff;
        font-size: 12px;
        line-height: 14px; }

.product__wrapper {
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative; }
  .product__wrapper .product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: all 0.2s linear; }
    .product__wrapper .product-item:hover {
      transform: scale(1.06);
      transition: all 0.1s linear;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
      z-index: 5; }
      .product__wrapper .product-item:hover > .product-item__caption > .extra-block {
        max-height: initial;
        background: #fff;
        padding-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
        border-radius: 0 0 5px 5px;
        transition: all 0.1s linear; }
    .product__wrapper .product-item .product-item__pic {
      min-height: 100%;
      position: relative; }
      .product__wrapper .product-item .product-item__pic .o-mask {
        background-color: rgba(0, 0, 0, 0.2);
        padding-top: 100%; }
        .product__wrapper .product-item .product-item__pic .o-mask > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: all .6s ease-in-out; }
    .product__wrapper .product-item .product-item__caption {
      position: relative;
      padding: 18px 5px 12px;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      .product__wrapper .product-item .product-item__caption .caption_title {
        text-align: center;
        padding: 0 5px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        display: inline-block;
        font-size: 20px;
        line-height: 23px;
        color: #004EA2; }
      .product__wrapper .product-item .product-item__caption .caption_options {
        padding: 18px 5px 10px;
        text-align: center; }
        .product__wrapper .product-item .product-item__caption .caption_options > span {
          border: 1px solid #F4F4F4;
          border-radius: 5px;
          padding: 5px;
          display: inline-block;
          font-size: 12px;
          color: #333; }
      .product__wrapper .product-item .product-item__caption .caption_price {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        margin-top: auto; }
      .product__wrapper .product-item .product-item__caption .cart {
        padding-top: 10px;
        text-align: center; }
        .product__wrapper .product-item .product-item__caption .cart .buy-btn {
          display: inline-block;
          background: #EC008C;
          padding: 9px 20px;
          border-radius: 5px;
          color: #fff;
          font-size: 14px;
          line-height: 16px;
          font-weight: bold;
          transition: background-color 0.3s linear; }
          .product__wrapper .product-item .product-item__caption .cart .buy-btn:hover {
            background-color: #D42F7B; }
      .product__wrapper .product-item .product-item__caption .extra-block {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        z-index: 5;
        text-align: center;
        text-decoration: underline;
        color: #004EA2;
        background: #fff; }

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0; }

.b-lazy.b-loaded {
  opacity: 1; }

.store-description {
  font-style: italic;
  font-size: 16px;
  line-height: 18px; }
  .store-description h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 20px; }

footer {
  background-color: #333333;
  color: white; }
  footer .footer-nav {
    display: flex;
    padding: 31px 0 50px 0; }
    footer .footer-nav a {
      color: #fff; }
      footer .footer-nav a:hover {
        text-decoration: underline; }
    footer .footer-nav .footer-nav__menu {
      display: flex;
      justify-content: space-between;
      max-width: 820px;
      width: 100%; }
    footer .footer-nav .footer-nav__sideLink {
      margin-left: auto; }
    @media (max-width: 1200px) {
      footer .footer-nav {
        flex-direction: column;
        padding: 20px 0 15px 0; }
        footer .footer-nav .footer-nav__sideLink {
          margin-left: initial;
          margin-top: 10px;
          text-align: center; }
        footer .footer-nav .footer-nav__menu {
          max-width: 100%; } }
    @media (max-width: 768px) {
      footer .footer-nav {
        display: none; } }
  footer .footer-nav-mobile {
    display: none;
    padding: 30px 20px 50px; }
    footer .footer-nav-mobile a {
      color: #fff; }
    footer .footer-nav-mobile .footer-nav-mobile__menu {
      margin-bottom: 20px; }
      footer .footer-nav-mobile .footer-nav-mobile__menu li {
        margin-bottom: 15px; }
        footer .footer-nav-mobile .footer-nav-mobile__menu li:last-child {
          margin-bottom: 0; }
    footer .footer-nav-mobile .footer-nav-mobile__link {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #fff; }
    @media (max-width: 768px) {
      footer .footer-nav-mobile {
        display: block; } }

/*# sourceMappingURL=styles.css.map */
