@import 'css/vars';
//@import "addons/bootstrap/css/bootstrap-grid.css";

// bootstrap

// ** Common styles **

// lazy load styles
.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

// ** ** **

// ** ** **
// ** common styles **
// ** ** **

// ** buttons **

.pink-btn {
  display: inline-flex;
  color: #fff;
  background: $QS_pink;
  border-radius: 5px;
  padding: 9px 17px 11px 17px;
  width: fit-content;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  & > img {
    margin-right: 5px;
    //max-width: 100%;
  }
}

.btn-std {
  display: inline-flex;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;

  & > img {
    margin-right: 5px;
  }
}


// ** ** **


button.btn {
  display: inline-block;
  background: $QS_pink_1;
  padding: 9px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  transition: background-color 0.3s linear;
  border: none;
  max-width: fit-content;

  &:hover {
    background-color: $QS_red;
  }
}

// ** ** **

// ** breadcrumbs
.breadcrumbs {
  display: flex;
  color: $gray_2;

  & > a {
    color: $gray_2;

    &:last-of-type {
      pointer-events: none;
    }
  }

  & > span {
    margin: 0 10px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

// ** ** **


// ** page header mobile
.page__header-mobile {
  display: none;

  h3 {
    font-weight: bold;
    font-size: 25px;
    color: $QS_blue;
    text-align: center;
  }

  @media (max-width: 1000px) {
    display: block;
  }
  @media (max-width: 600px) {
    margin-bottom: 15px;
    h3 {
      font-size: 18px;
      text-align: center;
    }
  }
}

// ** ** **

// ** styles for desktop filter bar **
.products-filters-bar {
  padding: 30px 25px 25px 25px;
  border: 2px solid $light_gray;
  border-radius: 5px;
  margin-bottom: 50px;
  max-width: fit-content;

  .products-filters-bar__header {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
    color: $gray_2;
    padding-left: 5px;
  }

  .products-filters-bar__container {
    display: flex;

    .products-filters-bar__block-colors {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-width: 180px;
      max-width: 180px;
      margin-right: 45px;

      label {
        span {
          display: flex;
          width: 45px;
          height: 45px;
          border-radius: 22.5px;
          align-items: center;
          justify-content: center;

          & > img {
            width: 35px;
            height: 35px;
            border: 1px solid red;
            border-radius: 17.5px;
          }
        }

        & > input[type=checkbox] {
          display: none;

          &:checked + span {
            border: 3px solid $QS_pink_1;
          }
        }
      }
    }

    .products-filters-bar__block-selects {
      min-width: 188px;
      display: flex;
      flex-direction: column;
      margin-right: 45px;

      & > .select-container {
        &:first-of-type {
          margin-bottom: 18px;
        }

        & > select {
          width: 100%;
          background: url("img/filter-bar-tick.svg") 92% no-repeat;
          border: 1px solid $gray_2;
          border-radius: 5px;
          padding: 12px 20px;
          -webkit-appearance: none;
          font-size: 14px;
          line-height: 16px;
          color: $gray;

          &:hover {
            border: 1px solid $QS_pink_1;
          }

          option {
            color: $gray;
          }

          option[value=""][disabled] {
            display: none;
          }
        }
      }


      .products-filters-bar__block-submit {
        background: #004EA2;
        color: #fff;
        padding: 13px;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        letter-spacing: 0.02em;
        text-align: center;

        &:hover {
          background: $QS_blue_1;
        }
      }
    }

    .products-filters-bar__block-checkboxes {
      margin-right: 60px;

      .checkbox-container {
        margin-bottom: 23px;
        padding: 5px 0;


        &:last-child {
          margin-bottom: 0;
        }

        label {
          font-size: 18px;
          line-height: 21px;
          color: #333;
          display: flex;
          align-items: center;

          & > input[type=checkbox] {
            display: none;
            opacity: 0;

            &:checked + span {
              border-color: #fff;
              background: url(img/custom-check.svg) center no-repeat;
            }
          }

          & > span {
            width: 25px;
            height: 25px;
            margin-right: 9px;

            &::after {
              content: '';
              display: inline-block;
              width: 25px;
              height: 25px;
              flex-shrink: 0;
              flex-grow: 0;
              border: 1px solid $gray_2;
              border-radius: 5px;
              margin-right: 10px;
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
        }
      }
    }

    .products-filters-bar__block-reset {
      a {
        font-size: 14px;
        line-height: 16px;
        text-decoration: underline;
        margin-top: 10px;
        display: block;
        text-align: center;
        color: $light_blue;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    padding: 25px 15px 20px 15px;

    .products-filters-bar__container {
      .products-filters-bar__block-colors {
        margin-right: 15px;
      }

      .products-filters-bar__block-selects {
        margin-right: 15px;
      }
    }
  }
  @media (max-width: 1000px) {
    display: none;
  }
}

// ** ** **

// ** product filters bar mobile **
.products-filters-bar-mobile {
  display: none;
  margin-top: 15px;
  margin-bottom: 20px;

  .products-filters-bar-mobile__filter-results-wrapper {
    background: $light_gray;

    .products-filters-bar-mobile__filter-results {
      display: flex;
      padding-top: 10px;
      padding-bottom: 5px;

      & > .title {
        padding-right: 8px;
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        span {
          display: flex;
          align-items: center;
          margin-top: 5px;
          font-weight: 600;
          font-size: 10px;
          line-height: 14px;

          text-transform: uppercase;
          text-decoration: underline;
          color: $gray;

          & > img {
            width: 7px;
            height: 7px;
            margin-right: 5px;
          }
        }

      }

      & > .content {
        width: 60%;
        text-align: center;

        & > span {
          font-size: 12px;
          line-height: 14px;
          color: $gray;
          background: #fff;
          display: inline-block;
          margin-bottom: 5px;
          padding: 5px;
          border-radius: 5px;
        }
      }

      & > .button {
        width: 20%;
        display: flex;
        justify-content: flex-end;

        & > a {
          margin-top: 3px;
          display: block;

          img {
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }

  .products-filters-bar-mobile__select {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    & > select {
      width: 70%;
      background: url("img/mob-filters-tick-gray.svg") 96% no-repeat;
      border: 1px solid $gray_2;
      border-radius: 5px;
      padding: 10px;
      -webkit-appearance: none;
      font-size: 12px;
      line-height: 14px;
      color: $gray_2;

      option {
        color: $gray_2;
      }

      option[value=""][disabled] {
        display: none;
      }
    }

    @media (max-width: 992px) {
      & > select {
        width: 100%;
      }
    }


  }

  @media (max-width: 1000px) {
    display: block;
  }
}


// ** styles for menu items in mobile

.sub-menu__content {
  display: none;
  background: $QS_blue;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  .sub-menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark_blue;
    padding: 20px;

    & > .title-link {
      font-size: 18px;
      line-height: 21px;
      color: #fff;
    }

    & > .btn-show-all {
      font-weight: bold;
      font-size: 10px;
      line-height: 11px;
      text-transform: uppercase;
      color: #fff;
      padding: 4px 8px;
      border-radius: 20px;
      background: $QS_pink_1;
      display: block;
    }
  }

  h4 {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }

  .sub-menu__color-filters {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    label {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        background: #004793;

        & > img {
          width: 28px;
          height: 28px;
          display: block;
          border-radius: 14px;
        }
      }

      & > input[type=checkbox] {
        display: none;
        opacity: 0;

        &:checked + span {
          border: 3px solid $QS_pink_1;
        }
      }
    }
  }

  .sub-menu__checkboxes {
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-wrap: wrap;

    input[type=checkbox] {
      display: none;
    }

    .custom-checkbox + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      width: 50%;
    }

    .custom-checkbox + label::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #fff;
      border-radius: 5px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      //background-size: 50% 50%;
      background-color: $dark_blue;
    }

    .custom-checkbox:checked + label::before {
      border-color: #fff;
      //background-color: #0b76ef;
      background-image: url("img/custom-check.svg");
    }

    label {
      color: #fff;
      font-size: 18px;
      line-height: 21px;
      //margin-right: 10px;
      margin-top: 20px;
    }

  }

  .sub-menu__select-filters {
    padding: 0 20px;
    margin-top: 20px;

    & > .select-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      & > select {
        width: 100%;
        background-color: $QS_blue;
        background: url("img/menu-tick.svg") 96% no-repeat;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 12px 20px;
        -webkit-appearance: none;
        font-size: 14px;
        line-height: 16px;
        color: #fff;

        option {
          color: black;
        }

        option[value=""][disabled] {
          display: none;
        }
      }
    }
  }

  .sub-menu__buttons {
    padding: 0 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .btn-select {
      border: none;
      padding: 10px 30px;
      background: #FFFFFF;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: $QS_blue;
    }

    & > .btn-reset {
      text-decoration: underline;
      color: #fff;
    }
  }
}

// ** ** **

// ** product cards


// ** header **
.header {
  .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  .header-separator {
    height: 163px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.header-top__wrapper {
  background: #fff;

  .header-top {
    height: 58px;
    //max-width: 920px;
    max-width: 80%;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;

    .header-top__title {
      h1 {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        color: $QS_blue;
      }
    }

    .header-top__location {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .header-top__location-link {
        position: relative;
        font-size: 12px;
        line-height: 14px;
        color: $gray_2;
        margin-bottom: 3px;

        a {
          color: $gray_2;
          text-decoration: underline;
        }

        &::before {
          position: absolute;
          content: "";
          background: url('img/direction.svg') no-repeat;
          width: 15px;
          height: 15px;
          left: -15px;
          top: -3px;
        }
      }

      .header-top__location-stores {
        position: relative;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;

        a {
          color: $QS_pink_1;
        }

        &::before {
          position: absolute;
          content: "";
          background: url('img/location.svg') no-repeat;
          width: 8px;
          height: 13px;
          left: -12px;
          top: 1px;
        }
      }
    }

    .header-top__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .header-top__contacts__link {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $QS_blue;
        margin-bottom: 3px;
      }

      .header-top__contacts__feedback {
        color: $gray_2;
        text-decoration: underline;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .header-top__cart {
      position: relative;

      a {
        color: $QS_blue;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;

        &:hover span:last-of-type {
          text-decoration: underline;
        }
      }

      .cart-count {
        position: absolute;
        top: -2px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13px;
        height: 13px;
        border-radius: 6.5px;
        background: $QS_pink;
        font-size: 10px;
        color: #fff;


      }
    }
  }
}

.header-navbar__wrapper {
  background: $QS_blue;

  .header-navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .header-navbar__logo {
      width: 180px;
      height: 1px;
      position: relative;

      img {
        position: absolute;
        border: 4px solid white;
        top: -62px;
        background: $QS_blue;
      }
    }

    .header-nav {
      height: inherit;

      .header-nav__basic-menu {
        display: flex;
        height: inherit;

        .has-children {
          // 1 level
          & > .sub-menu {
            display: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 82%;
            z-index: 25;
            background: #fff;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-top: 8px solid $light_blue;
            padding: 25px;
            justify-content: space-between;
            // 2 level
            & > li .sub-menu {
              & > li:not(:last-child) {
                margin-bottom: 30px;
              }

              .sub-menu__title {
                color: $gray;
                padding: 0;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 20px;
              }

              // 3 level
              .sub-menu li {
                margin-bottom: 10px;

                & > a {
                  color: $QS_blue;
                  font-size: 14px;
                  line-height: 16px;
                  padding-left: 0;

                  &:hover {
                    color: $QS_pink_1;
                  }
                }

                img {
                  width: 25px;
                  height: auto;
                  border-radius: 12.5px;
                  margin-right: 15px;
                }
              }
            }
          }

          &:hover > a::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 30%;
            transform: translateX(30%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            z-index: 26;
          }
        }

        .header-nav__basic-menu__item {
          &:hover > .sub-menu {
            display: flex;

          }

          &:hover > a {
            background: $light_blue;
            position: relative;

            .dropdown-toggle > img {
              transform: rotate(180deg);

            }
          }

          a {
            color: #fff;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 13px;

            span {
              margin-left: 5px;

              & > img {
                transition: all 0.2s linear;
              }
            }
          }

          @media (max-width: 1200px) {
            a {
              padding: 0 5px;
            }
          }

        }
      }
    }

    .header-navbar__search {
      position: relative;

      input {
        height: 24px;
        padding: 5px 23px 5px 10px;
        border: none;
        border-radius: 5px;
        outline: none;

        &::placeholder {
          font-style: italic;
          color: $gray_2;
          font-size: 12px;
          line-height: 14px;
        }

        @media (max-width: 1200px) {
          width: 100px;
        }
      }

      .header-navbar__search-icon {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .header-navbar__account {
      max-width: 107px;

      a {
        display: flex;

        &:hover > .header-navbar__account-text-block {
          text-decoration: underline;
        }
      }

      .header-navbar__account-text-block {
        color: #fff;
        font-size: 10px;
        line-height: 11px;
        display: flex;
        align-items: center;
        text-align: right;
        margin-right: 5px;
      }
    }
  }
}

.header-bottom__wrapper {
  background: $QS_pink;

  .header-bottom {
    .header-bottom__menu {
      display: flex;
      justify-content: flex-end;
      padding: 13.5px 0;

      .header-bottom__menu-item {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          font-size: 12px;
          line-height: 14px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// ** ** **


// ** ** **

// ** mobile nav **
.header-mobile {
  display: none;

  .header-mobile__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .header-mobile-separator {
    height: 106px;
  }

  @media (max-width: 1000px) {
    display: block;
  }
}

.active {
  display: block !important;
}


.navbar-mobile__wrapper {
  position: relative;
  background: $QS_blue;
  border-bottom: 4px solid $QS_pink_1;

  .mobile-menu {
    display: none;
    padding: 8px 0 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    background: #004793;
    top: 76px;
    z-index: 50;
    height: 591px;

    & > ul > li > a {
      color: #fff;
      font-size: 18px;
      line-height: 21px;
      font-weight: normal;
      display: flex;
      justify-content: space-between;
      padding: 12px 20px 16px 20px;
      border-bottom: 2px solid $light_blue;
    }

    & > ul > li {
      &:last-child a {
        border-bottom: none;
      }
    }

    .location a {
      justify-content: flex-start;
      align-items: center;

      img {
        margin-right: 15px;
      }
    }

    .sub-menu {
      display: none;
    }
  }

  .navbar-mobile {
    display: flex;
    height: 76px;
    align-items: center;
    justify-content: space-between;

    & > .side-group {
      width: 70px;
      display: flex;
      justify-content: space-between;

      & > a {
        display: flex;
        align-items: center;
      }

      .navbar-mobile__hamburger {
        display: block;
        width: 25px;
        height: 27px;

        span {
          position: relative;
          display: block;
          height: 3px;
          background-color: #fff;
          margin: 5px 0 0;
        }
      }

      // ** for expand menu
      .expanded-menu {
        & > span:first-of-type {
          transform: rotate(45deg);
          top: 8px;
        }

        & > span:nth-child(2n+2) {
          opacity: 0;
        }

        & > span:last-of-type {
          transform: rotate(-45deg);
          top: -8px;
        }
      }

      // ** ** **

      .navbar-mobile__cart {
        position: relative;
        align-items: flex-end;

        & > .cart-count {
          color: #fff;
          background: $QS_pink_1;
          width: 16px;
          height: 16px;
          font-size: 10px;
          line-height: 11px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 4px;
        }
      }
    }

    & > .search-bar {
      height: 50px;
      position: fixed;
      background: #f2f2f2;
      left: 0;
      right: 0;
      top: 76px;
      padding: 10px;
      display: flex;

      & > input {
        border: 1px solid #d9dada;
        border-radius: 4px;
        padding: 3px 20px;
        width: 100%;

        &::placeholder {
          font-style: italic;
          color: $gray_2;
          font-size: 12px;
          line-height: 14px;
        }
      }

      & > a {
        background: $QS_pink_1;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin-left: 5px;
        border-radius: 5px;
      }
    }
  }
}

// *** for search bar activity js
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.is-search {
  height: 126px;
  transition: all 1s linear;
}
// ** ** **


// ***

.navbar-mobile-extra__wrapper {
  background: #fff;

  .navbar-mobile-extra {
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .location a {
      font-size: 14px;
      line-height: 16px;
      color: $gray_2;
    }

    & > .stores a {
      position: relative;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: $QS_pink_1;

      & > img {
        margin-left: 5px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -11px;
        width: 9px;
        height: 100%;
        background: url(img/location.svg) center no-repeat;
      }
    }

    & > .account a img {
      width: 20px;
      height: 17px;
    }
  }
}

// ** ** **

// ** main **
.main {
  padding: 45px 0 30px 0;
  @media (max-width: 1000px) {
    padding: 25px 0 20px 0;
  }
  @media (max-width: 600px) {
    padding: 15px 0 20px 0;
  }
}

// ** banners desktop **
.banners-desktop {
  & > img {
    width: 100%;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

// ** ** **


// ** banners in mobile **
.mobile-banners {
  display: none;
  padding: 15px 0 20px 0;
  @media (max-width: 600px) {
    display: block;
  }

  .mobile-banners__header {
    color: $QS_blue;
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }

  .mobile-banners__container {
    display: flex;
    flex-direction: column;

    & > .banner {
      position: relative;
      border-bottom: 8px solid $light_blue;
      margin-bottom: 14px;
      min-height: 100%;

      & > .banner-mask {
        background-color: rgba(0, 0, 0, 0.2);
        padding-top: 38%;

        & > img {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          transition: all .6s ease-in-out;
        }
      }

      & > .label {
        position: absolute;
        background: $light_blue;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        left: 0;
        bottom: 0;
        padding: 4px 10px;
      }
    }
  }
}
// ** ** **


// ** catalog **

.products__header {
  margin-top: 30px;
  margin-bottom: 30px;

  h3 {
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    color: $QS_blue;

  }

  @media (max-width: 1000px) {
    display: none;
  }
}


.product__wrapper {
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;

  .desktop--hover {
    &:hover {
      transform: scale(1.06);
      transition: all 0.1s linear;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
      z-index: 5;

      & > .product-item__caption > .extra-block {
        max-height: initial;
        background: #fff;
        padding-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
        border-radius: 0 0 5px 5px;
        transition: all 0.1s linear;
      }
    }
  }

  .product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: all 0.2s linear;

    .product-item__title-mobile {
      display: none;
      text-align: center;

      margin-bottom: 10px;

      & > h4 {
        font-size: 14px;
        line-height: 16px;
        color: $QS_blue;
        font-weight: normal;
      }
    }

    .product-item__main-link {
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 0;
      bottom: 25%;
      left: 0;
      right: 0;
      z-index: 1;
    }

    .product-item__pic {
      min-height: 100%;
      position: relative;

      .o-mask {
        background-color: rgba(0, 0, 0, .2);
        padding-top: 100%;

        & > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: all .6s ease-in-out;
        }
      }
    }

    .product-item__caption {
      position: relative;
      padding: 18px 5px 12px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .caption_title {
        text-align: center;
        padding: 0 5px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        display: inline-block;
        font-size: 20px;
        line-height: 23px;
        color: $QS_blue;
      }

      .caption_options {
        padding: 18px 5px 10px;
        text-align: center;

        & > span {
          border: 1px solid #F4F4F4;
          border-radius: 5px;
          padding: 5px;
          display: inline-block;
          font-size: 12px;
          color: $gray;
        }
      }

      .caption_price {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        margin-top: auto;
      }

      .cart {
        padding-top: 10px;
        text-align: center;

        .buy-btn {
          display: inline-block;
          background: $QS_pink_1;
          padding: 9px 20px;
          border-radius: 5px;
          color: #fff;
          font-size: 14px;
          line-height: 16px;
          font-weight: bold;
          transition: background-color 0.3s linear;

          &:hover {
            background-color: $QS_red;
          }
        }
      }

      .extra-block {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        z-index: 5;
        text-align: center;
        background: #fff;

        & > a {
          color: $QS_blue;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.01em;
          text-decoration-line: underline;

          &:hover {
            text-decoration: initial;
          }
        }
      }
    }

    .product-item__caption-mobile {
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;

      & > .caption-price {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: $gray;
        margin-bottom: 10px;
      }

      & > .caption-one_click {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: $QS_blue;
        text-decoration: underline;
        margin-bottom: 15px;
      }
    }
  }

  @media (max-width: 800px) {
    .product-item {
      .product-item__title-mobile {
        display: block;
      }

      .product-item__caption {
        display: none;
      }

      .product-item__caption-mobile {
        display: flex;

      }
    }
  }
}

// ** Store description **
.store-description {
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
  margin-top: 40px;
  @media (max-width: 960px) {
    text-align: center;
  }

  h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 20px;
  }
}
// ** ** **

// ** pagination block **
.catalog-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

  .catalog-pagination__title {
    font-size: 16px;
    line-height: 18px;
    color: $gray_2;
    margin-bottom: 15px;
  }

  & > .btn-std {
    background: $QS_blue;
    color: #fff;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    margin-top: 0;
    .catalog-pagination__title {
      font-size: 14px;
      line-height: initial;
      margin-bottom: 8px;
    }
    & > .btn-std {
      font-size: 14px;
      padding: 10px 15px;
    }
  }
}
// ** ** **

// services
.catalog-services-content {
  margin-top: 20px;
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000;

  ul {
    margin-top: 30px;

    & > li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & > li::before {
      content: "\2022";
      color: $QS_pink_1;
      font-weight: bold;
      display: inline-block;
      width: 10px;
    }
  }

  @media (max-width: 600px) {
    margin-bottom: 30px;
    text-align: center;
  }
}
// ** ** **

// ** stock cards **
.stock-cards-container {
  border-top: 1px solid #D7D7D7;
  padding-top: 20px;
  padding-bottom: 100px;
  @media (max-width: 1000px) {
    padding-bottom: 0;
  }
}

.stock-card {
  display: flex;
  margin-bottom: 30px;
  .stock-card__thumbnail {
    width: 33%;
    &>img {
      max-width: 100%;
    }
  }
  .stock-card__main {
    width: 67%;
    padding-left: 30px;
    .stock-card__main-content {
      p {
        font-size: 14px;
        line-height: 16px;
        color: $gray;
        &:last-of-type {
          margin-bottom: 20px;
        }
      }
      &>h2 {
        font-size: 30px;
        line-height: 34px;
        color: $gray;
        margin-top: 5px;
        margin-bottom: 20px;
      }
      &>.alarm {
        display: inline-flex;
        align-items: center;
        color: $QS_pink_1;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
      }
      .stock-card__extra-link {
        font-weight: bold;
        font-size: 14px;
        color: $gray;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 8px;
          background: url(img/extra-thick.svg) center no-repeat;
          right: -13px;
          top: 5px;
          transition: all 0.2s linear;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .stock-card__main-extra {
      display: none;
      padding: 20px 5px 5px 5px ;
    }
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    .stock-card__thumbnail {
      width: initial;
    }
    .stock-card__main {
      width: initial;
      padding-left: 0;
      .stock-card__main-content {
        text-align: center;
      }
    }
  }

  // ** special classes
  .extend {
    &::after {
      transition: transform 0.2s linear;
      transform: rotate(-90deg);
    }
  }
  .active {
    display: block;
  }
}


// ** ** **
.micro-offer-card {
  &>.desktop--hover:hover {
    transform: scale(1);
  }
  &>.product-item {
    &>.product-item__caption {
      display: block!important;
      padding-top: 10px;
      &>.pink-btn {
        display: none;
        margin: 0 auto;
        margin-top: 10px;
      }
      &>.caption_title {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000;
      }
      &>.caption_price {
        color: $gray;
        margin-top: 10px;
        span {
          font-size: 14px;
          line-height: 16px;
        }
      }
      &>.extra-block {
        &>.pink-btn {
          font-weight: bold;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          padding: 9px 20px;
        }
      }
      @media (max-width: 1000px) {
        &>.pink-btn {
          display: block;
        }
      }
    }
  }
}

// ** main card **
.goods-card-main__wrapper {
  padding-top: 40px;
}



.goods-card-main__header {
  display: flex;
  .goods-card-main__header-gallery {
    width: 35%;
    &>#panel {
      width: 100%;
      &>img {
        max-width: 100%;
      }
    }
  }
  .goods-card-main__header-description {
    width: 65%;
    padding-left: 50px;

    &>.title {
      padding-top: 5px;
      padding-bottom: 30px;
      border-bottom: 1px solid $light_gray;
      h2 {
        //margin-top: 5px;
        font-size: 30px;
        line-height: 34px;
        color: #000;
      }
      a {
        margin-top: 10px;
        font-size: 14px;
        line-height: 16px;
        text-decoration: underline;
        color: $QS_blue;
        display: inline-flex;
        position: relative;
        &::after {
          content: "";
          width:6px;
          height:9px;
          background: url("img/blue-arrow.svg") center no-repeat;
          position: absolute;
          top: 5px;
          right: -10px;
        }
      }
    }

    & > .caption {

      &>.price {
        font-size: 50px;
        line-height: 57px;
        color: #000;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        span {
          font-size: 38px;
          line-height: 44px;
        }
      }

      &>.extra-info {
        font-size: 14px;
        line-height: 16px;
        color: $gray_2;
      }

      & > .caption-form {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;

        & > .qty {
          display: flex;
          align-items: center;
          margin-right: 10px;

          & > .qty__input {
            display: flex;
            background: #F4F4F4;

            & > .arrows {
              display: block;
              width: 37px;
              height: 36px;
              background: #fff;
              font-size: 18px;
              line-height: 21px;
              color: #333;
              border: 1px solid #F4F4F4;
              border-radius: 2px;
              outline: #EC008C;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            }

            & > .qty {
              padding: 0 16px;
              width: 60px;
              text-align: center;
              outline: none;
              background: transparent;
              border: none;
            }
          }

          & > span {
            margin-left: 5px;
            color: #B4B4B4;
            font-size: 14px;
            line-height: 16px;
          }

        }

        & > .pink-btn {
          font-size: 14px;
          line-height: 16px;
          padding: 10px 20px;
          min-width: fit-content;
          margin-right: 10px;
        }

        & > .btn-std {
          border: 2px solid #004EA2;
          font-size: 14px;
          padding: 8px 20px;
          min-width: fit-content;
        }
      }
      &>.summary {
        font-size: 14px;
        line-height: 16px;
        color: #A0A0A0;
        margin-bottom: 15px;
        span {
          font-size: 18px;
          line-height: 21px;
        }
      }
      &>.share>.btn-std {
        border: 1px solid #7B7B7B;
        border-radius: 2px;
        font-size: 12px;
        line-height: 16px;
        color:#7B7B7B ;
        padding: 5px 10px;
      }

    }
  }
}

.goods-card-main__content {
  .goods-card-main__content-description {
    &>.description-table {
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      color: $gray;
      th {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        padding: 20px 0 20px 10px;
        border-bottom: 1px dashed rgba(180, 180, 180, 0.5);
      }
      td {
        width: 50%;
        padding: 12px 0 12px 10px;
        border-bottom: 1px dashed rgba(180, 180, 180, 0.5);
      }

    }


  }
}








// *** footer***
footer {
  background-color: $mineShaft;
  color: white;
  @media (max-width: 600px) {
    border-top: 4px solid $QS_pink_1;
  }

  .footer-nav {
    display: flex;
    padding: 31px 0 50px 0;

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-nav__menu {
      display: flex;
      justify-content: space-between;
      max-width: 820px;
      width: 100%;
    }

    .footer-nav__sideLink {
      margin-left: auto;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      padding: 20px 0 15px 0;
      .footer-nav__sideLink {
        margin-left: initial;
        margin-top: 10px;
        text-align: center;
      }
      .footer-nav__menu {
        max-width: 100%;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .footer-nav-mobile {
    display: none;
    padding: 30px 20px 50px;

    a {
      color: #fff;
    }

    .footer-nav-mobile__menu {
      margin-bottom: 20px;

      li {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer-nav-mobile__link {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #fff;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }
}

// ** **
body.compensate-for-scrollbar {
  overflow: initial;
}

.compensate-for-scrollbar {
  margin-right: 0 !important;
}

// ** modals **


.login-desktop-modal {
  display: none;
  padding: 30px;
  cursor: initial !important;
  border-radius: 5px;

  .login-desktop-modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h2 {
      font-size: 22px;
      line-height: 25px;
      color: $QS_blue;
    }

    & > a {
      text-decoration: underline;
      font-size: 14px;
      line-height: 16px;

      &:hover {
        color: $QS_pink_1;
      }
    }

    & > form {
      margin: 20px 0 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > input {
        outline: none;
        padding: 12px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &::placeholder {
          text-align: center;
          font-size: 18px;
          line-height: 21px;
          color: $gray_2;
        }
      }
    }
  }
}

// ** add to cart modal **
.add-to-cart-modal {
  display: none;
  padding: 30px;
  cursor: initial !important;
  border-radius: 5px;

  .add-to-cart-modal__header {
    margin-bottom: 20px;

    & > h2 {
      font-weight: normal;
      font-size: 30px;
      line-height: 34px;
      color: black;
    }
  }

  .add-to-cart-modal__content {
    display: flex;
    align-items: center;

    & > .thumbnail {
      width: 120px;
      height: 120px;
      margin-right: 20px;
    }

    & > .description {
      & > .title {
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        color: $QS_blue;
        margin-bottom: 20px;
      }

      & > .btn-std {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        color: #fff;
        background: $QS_pink_1;

        &:first-of-type {
          margin-right: 15px;
        }

        &:last-of-type {
          background: #fff;
          color: $QS_pink_1;
          border: 1px solid $QS_pink_1;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 30px 15px;
    .add-to-cart-modal__header {
      & > h2 {
        font-size: 24px;
        line-height: initial;
      }
    }
    .add-to-cart-modal__content {
      & > .thumbnail {
        margin-right: 15px;
      }

      & > .description {
        & > .title {
          font-size: 16px;
          line-height: initial;
          margin-bottom: 10px;
        }

        & > .btn-std {
          font-size: 14px;
          line-height: initial;
          padding: 10px 15px;

          &:first-of-type {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// ** ** **

// ** one click **
.one-click-modal {
  display: none;
  padding: 30px;
  cursor: initial !important;
  border-radius: 5px;

  .one-click-modal__header {
    margin-bottom: 20px;

    h2 {
      font-weight: normal;
      font-size: 22px;
      line-height: 25px;
      color: $QS_blue;
    }
  }

  .one-click-modal__content {
    display: flex;
    align-items: center;

    & > .thumbnail {
      width: 120px;
      height: 120px;
      margin-right: 20px;

      & > img {
        max-width: 100%;
      }
    }

    & > .description {
      & > .description__mobile {
        display: none;
        margin-bottom: 10px;

        h4 {
          font-size: 14px;
          line-height: 16px;
          color: $QS_blue;
          font-weight: normal;
          margin-bottom: 20px;
        }

        p {
          font-size: 14px;
          line-height: 16px;
          color: $gray_2;
        }

      }

      & > .qty {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        & > .qty__input {
          display: flex;
          background: $light_gray;

          & > .qty {
            padding: 0 16px;
            width: 60px;
            text-align: center;
            outline: none;
            background: transparent;
            border: none;
          }

          & > .arrows {
            display: block;
            width: 37px;
            height: 36px;
            background: #fff;
            font-size: 18px;
            line-height: 21px;
            color: $gray;
            border: 1px solid $light_gray;
            border-radius: 2px;
            outline: $QS_pink_1;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
        }

        span {
          margin-left: 5px;
          color: $gray_2;
          font-size: 14px;
          line-height: 16px;
        }
      }

      & > .btn-std {
        background: $QS_pink;
        color: #fff;
      }

      & > .tel {
        padding: 12px 10px;
        outline: none;
        width: 173px;
        border-radius: 2px;
        border: 1px solid $light_gray;
        margin-right: 10px;
      }
    }
  }

  .one-click-modal__footer {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 16px;
    color: $QS_blue;

    & > .tel {
      display: none;
    }

    & > .btn-std {
      display: none;
    }
  }

  @media (max-width: 560px) {
    padding: 30px 10px;
    .one-click-modal__header {
      display: none;
    }
    .description {
      & > .description__mobile {
        display: block !important;
        padding-right: 10px;
      }

      & > .tel {
        display: none;
      }

      & > .btn-std {
        display: none;
      }
    }
    .one-click-modal__content {
      & > .thumbnail {
        min-width: 160px;
        height: 160px;
        margin-right: 10px;
      }
    }
    .one-click-modal__footer {
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 15px;
      flex-wrap: wrap;

      & > p {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
      }

      & > .tel {
        display: inline-block;
        font-size: 18px;
        line-height: 21px;
        padding: 8px 10px;
        color: #A0A0A0;
        border: 1px solid $light_gray;
        border-radius: 2px;
        width: 170px;
        margin-right: 10px;
      }

      & > .btn-std {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        background: $QS_pink;
        min-width: fit-content;
        color: #fff;
      }
    }
  }
}


// test styles


.desktop-only {
  @media (max-width: 800px) {
    display: none;
  }
}